.playpause > svg {
  width: 10px;
}

.button {
  background: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.button > svg > path {
  fill: #909090;
}

.button:hover > svg > path {
  fill: #bbbbbb;
}

.button:active > svg > path {
  fill: #616161;
}
