.container {
  height: 3px;
  margin-bottom: 7px;
  width: 100%;
  background-color: #bbbbbb;
  overflow: hidden;
}

.bar {
  height: 100%;
  transition: all 0.1s;
  background-color: #909090;
  text-align: right;
  border-right: 10px solid #616161;
}
