.container {
  height: 10px;
  width: 100%;
  background-color: #e0e0de;
  overflow: hidden;
}

.bar {
  height: 100%;
  transition: all 0.1s;
  background-color: grey;
  text-align: right;
  border-right: 3px solid;
}
